* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  padding: 10px;
}

#formulario {
  position: relative;
  max-width: 500px;
  margin: 20px auto;
}

#dados-pessoais {
  margin-bottom: 20px;
}

fieldset {
  padding: 10px;
}

.label-conteiner {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 2px 5px 2px 10px;
  margin: 0 0 10px;
  border: 1px solid black;
  border-radius: 20px;
  cursor: text;
  font-weight: 600;
}

.label-conteiner span {
  min-width: max-content;
  margin-right: 5px;
}

#span-externo {
  display: none;
  font-weight: 600;
  margin-left: 12px;
  margin-bottom: 2px;
}

#label-estado {
  cursor: default;
}

#label-estado #estado option {
  background-color: white;
}

input[type="text"], select {
  width: 100%;
  border: none;
  outline: none;
  box-shadow: inset 0 0 0 1000px white;
  appearance: none;
  padding-left: 5px;
}

#tipo-residencia {
  display: block;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
  cursor:default;
}

#tipo-residencia span {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

#tipo-residencia label {
  white-space: nowrap;
}

#tipo-residencia input[type="radio"] {
  margin: 5px 0;
  cursor: pointer;
}

.label-radio {
  cursor: pointer;
  user-select: none;
}

#label-resumo-curriculo {
  display: block;
  padding: 5px 10px;
  margin: 10px 0;
  border: 1px solid #000000;
  border-radius: 10px;
  cursor: text;
  font-weight: 600;
}

#label-resumo-curriculo textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  resize: vertical;
  outline: none;
  margin-top: 5px;
  border: none;
}

.label-conteiner:hover,
.label-conteiner:hover *,
#tipo-residencia:hover,
#label-resumo-curriculo:hover,
#label-resumo-curriculo:hover * {
  background-color: rgb(230, 230, 230);
  box-shadow: inset 0 0 0 1000px rgb(230, 230, 230);
}

#botoes-conteiner {
  margin-top: 15px;
  text-align: center;
}

button {
  display: inline-block;
  background-color: rgb(225, 225, 225);
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}

#btnSubmit {
  background-color: rgb(170, 255, 70);
}

#btnLimpar {
  background-color: rgb(255, 80, 80);
}

/* Dados consolidados */
#dados-consolidados {
  margin: 0 auto 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  max-width: 480px;
}

#dados-consolidados h2 {
  margin-bottom: 10px;
  text-align: center;
}

#dados-consolidados #dados {
  margin: 0 auto;
  min-height: 50px;
  overflow-x: scroll;
}

#dados-consolidados #dados div {
  width: 100%;
  min-width: fit-content;
  padding: 0 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

#dados-consolidados #dados div span {
  margin-right: 10px;
  font-weight: 600;
  white-space: nowrap;
}

/* Mensagem de erro */
#mensagem-erro {
  color: white;
  font-weight: 600;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  width: fit-content;
  padding: 0 10px;
  margin: 0 auto;
}

#mensagem-erro::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 10px solid transparent;
  border-right: 10px  solid transparent;
  border-bottom: 10px solid red;
}

#mensagem-erro #mensagem {
  background: red;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 3px 3px rgba(0,0,0,0.5);
}

/* Destaca campo inválido */
.destacarCampo {
  border-color: transparent !important;
  outline: 3px solid red;
  animation: tremer alternate 150ms linear infinite;
}

@keyframes tremer {
  from {
    transform: translateX(-3px);
  }
  to {
    transform: translateX(3px);
  }
}

@media screen and (max-width: 400px) {
  label span {
    display: none;
  }

  #span-externo,
  #dados-consolidados #dados div span {
    display: block;
  }
}
