ol li {
    background-color: yellow;
}

ol li:nth-child(even) {
    color: green;
}

ol li:nth-child(odd) {
    text-transform: lowercase;
}

.header {
    color: red;
}

.header em {
    font-size: 40px;
    border   : 1px black solid;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

.ling-programacao li:nth-of-type(-n+3) {
    color: blue;
}

.ling-programacao li:nth-of-type(n+2):nth-of-type(-n+3) {
    background-color: pink;
}

a#stackoverflow:hover {
    font-weight: bold;
    color      : orange;
}

a#w3schools:hover {
    font-weight: bold;
    color      : green;
}

a#mdn:hover {
    font-weight: bold;
    color      : black;
}

a#devdocs:hover {
    font-weight: bold;
    color      : yellow;
}

a#betrybe:hover {
    font-weight: bold;
    color      : green;
}