* {
  margin: 0; 
  padding: 0;
}

body{
  padding-top: 60px;
  font-family: sans-serif, Arial, Courier;
  background-color: black;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: grey;
}

a{
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: min-content;
  padding: 5px;
  margin: auto 10px;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  font-weight: 900;
  background-color: grey;
}

a:hover {
  background-color: black;
}

article {
  width: 80%;
  margin: auto;
  font-size: 20px;
  color: white;
}

p {
  padding: 10px;
}

h1, h2{
  padding: 10px;
  text-align: center;
}
