.header, .footer {
  text-align: center;
}

.contents {
  list-style: none;
  width: fit-content;
  padding: 0;
  margin: auto;
}

.content {
  padding: 10px;
  margin: 10px;
  background-color: rgb(225, 225, 225);
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 17px;
}

.content span { 
  font-weight: 500;
  font-size: 18px;
}
