.Contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.Contact fieldset {
  padding: 10px;
}

.Contact form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
