html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding-top: 60px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background-color: rgb(230, 230, 230);
  z-index: 1000;
}

header p {
  text-align: center;
  flex-grow: 1;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
  margin: 10px 0;
}

h3 {
  margin: 0;
}

footer {
  background-color: rgb(230, 230, 230);
  padding: 10px;
}

footer p {
  margin-bottom: 0;
}

ul {
  padding-left: 20px;
}

li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 767px) {
  nav label {
    display: block;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    background-image: url(icon/menu.png);
    user-select: none;
    cursor: pointer;
  }

  nav ul {
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
    margin: 0 10px;
    padding: 0;
    border: 2px solid black;
    background-color: white;
  }

  nav input:checked ~ ul {
    display: block;
  }

  nav ul li {
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

  nav ul li:hover {
    background-color: lightgrey;
  }

  ul li a {
    padding: 10px 15px;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  nav ul {
    display: flex;
    padding: 0;
  }

  nav ul li {
    display: block;
    padding: 5px 10px;
  }
}
