* {
  margin: 0; 
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 60px;
  margin: 0 auto;
  font-family: sans-serif, Arial, Courier;
  background-color: black;
  max-width: 1400px;
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: grey;
}

a {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: min-content;
  padding: 5px;
  margin: auto 10px;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  font-weight: 900;
  background-color: grey;
}

a:hover {
  background-color: black;
}

article {
  width: 750px;
  margin: auto;
  font-size: 20px;
  color: white;
  text-align: justify;
}

p {
  padding: 10px;
}

h1, h2 {
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 575px) {
  article {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  article {
    width: 100%;
  }
}
