#formulario {
  max-width: 500px;
}

input, select, textarea{
  outline: none;
}

input[type="text"], select {
  height: 20px;
}

textarea,
#dados-consolidados {
  min-height: 100px;
}

#tipo-residencia,
#label-resumo-curriculo,
#dados-consolidados {
  border-radius: 20px;
}

#dados-consolidados {
 max-width: 480px;
}

#dados-consolidados #dados {
  min-height: 50px;
  overflow-x: scroll;
}

#dados-consolidados #dados div {
  min-width: fit-content;
}

/* Mensagem de erro */
#mensagem-erro {
  display: none;
  width: fit-content;
}

#mensagem-erro::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 10px solid transparent;
  border-right: 10px  solid transparent;
  border-bottom: 10px solid red;
}

#mensagem-erro #mensagem {
  background: red;
  box-shadow: 0 3px 3px rgba(0,0,0,0.5);
}

/* Destaca campo inválido */
.destacarCampo {
  border-color: transparent !important;
  outline: 3px solid red;
  animation: tremer alternate 150ms linear infinite;
}

@keyframes tremer {
  from {
    transform: translateX(-3px);
  }
  to {
    transform: translateX(3px);
  }
}
